---
layout: default
title: Home
---

<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
            <a href="{{post.url}}">{{ site.read_more }}</a><hr />
        {% else %}
        {{ post.content }}
        {% endif %}
    </div>
    {% endfor %}
    {% include paginator.html %}
</div>

