---
layout: default
title: Home
---

<div class="posts">
    {% for post in paginator.posts %}
    <div itemscope itemtype="http://schema.org/Article" class="post">
        <h1 class="post-title">
            <a itemprop="url" href="{{ post.url }}">
              <span itemprop="name">{{ post.title }}</span>
            </a>
        </h1>

        <span temprop="datePublished" content="{{post.date}}" class="post-date">{{ post.date | date_to_string }}</span>

        <span itemprop='headline'>{{ post.excerpt }}</span>
        {% if post.excerpt != post.content %}
          <a href="{{post.url}}">{{ site.read_more }}</a><hr />
        {% endif %}
    </div>
    {% endfor %}
    {% include paginator.html %}
</div>

